@charset "utf-8";

/*custom styles*/
@font-face {
    font-family: "Intro";
    src: url("../fonts/Intro.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Intro.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/Intro.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/Intro.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/Intro.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/Intro.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/Intro.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.topRow {
    width: 100%;
    padding: 30px 40px 0px;
    position: fixed;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #555555;
}

.containers {
    background: url('../img/triangle.svg');
    position: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 20%;
}

.containersWrap {
    background: url('../img/triangleRight.svg');
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    width: 100%;
    min-height: 20%;
    text-align: right;
}

.bottomRow {
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 5;
}

.brdescriptor {
    padding: 0px 40px 0px 0px;
}

.contentPage {
    padding-top: 20vh;
    min-height: 100vh;
    width: 100%;
    top: 15vh;
}

.contentPage h1 {
    width: 100%;
    padding: 3vh 3vh 5vh;
    text-transform: uppercase;
    font-family: "Intro";
    font-size: 300%;
    text-align: right;
    opacity: 0.5;
    white-space:
}

.SlideText {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex;*/
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    justify-items: center;
    text-align: start;
    font-size: 150%;
    font-weight: 200;
    max-width: 670px;
    padding: 10vh 0vh 10vh 5%;
}

.SlidePic {
    width: 50%;
    padding: 0;
    margin: 0;
    z-index: -1;
}

/*
.slide2,
.slide3{
       background-repeat: no-repeat;background-size: cover;
  
}
.slide2 {
    background: url('../img/top-1.gif');

}

.slide3 {
    background: url("../img/5.png");

}
*/
.list {
    text-indent: 15px;
}

.MainScreen {
    width: 100%;
    height: 100vh;
    background: #555;
    background: url('../img/MainScreen.png');
    background-size: cover;
    background-position: center;
}

.tableCust {
    margin: 0 auto;
    width: 80%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.8;
}

.tableCust td {
    padding: 5px 40px 5px 40px;
    font-weight: 300;
}

.tableCust tr:nth-child(odd) {
    background: #ddd;
}

.tableCust tr:hover {
    background: #d3d3d3;
}

.tableCust tr td:nth-child(2n) {
    font-weight: 600;
}

.verticalLine {
    height: 20vh;
    width: 5px;
    background: #ffc000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.finalPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    margin: 0;
    max-width: 900px;
    margin: 0 auto;
}

.grid{
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items:flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    margin: 0;
    max-width: 1200px;
    margin: 0 auto;
}

.Contact ul li a,
.brdescriptor a{
    color: #555555;
    font-weight: 600;
    line-height: 1.5;
}

.FinalPic img {
    max-width: 450px;
    width: 80%;
}

.case {
    width: 100%;
    height:inherit;
        display: contents;
    border: 1px #000 solid;
    text-transform: uppercase;
    
}
.case span {
        font-weight: bold;
}

.caseItem {
   /* display: block;
   text-align: center;
    margin:10px;
    vertical-align: bottom;*/
    max-width: 300px;
    text-align: center;
    position: relative;
    margin: 0 auto; 
    text-transform: uppercase;
}
.caseItem span{
    font-weight: bold;
}
.caseItem > span{

}

h1{
    display: none;
}

