@charset "utf-8";

/*custom styles*/
@font-face {
    font-family: "Intro";
    src: url("../fonts/Intro.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Intro.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/Intro.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/Intro.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/Intro.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/Intro.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/Intro.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.topRow {
    width: 100%;
   /* padding: 30px 40px 0px;*/
    position: fixed;
  /*  padding: 5px 40px 0px;*/
    padding: 2vw;
    
    
}

.topRow img {
    visibility: visible !important;
}

body {
    font-family: 'Roboto', sans-serif;
   /* color: #555555;    background: url('../img/background.svg');
    background-size: 100%;
    background-position: center;*/
}

.containers {
    background: url('../img/triangle.svg');
    position: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 20%;
    top: 0;
    opacity: 0.8;
    z-index: 99999;

}

.containersWrap {
    background: url('../img/triangleRight.svg');
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    width: 100%;
    min-height: 20%;
    text-align: right;
}

.bottomRow {
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 5;
}

.brdescriptor {
    padding: 0px 40px 0px 0px;
}

.contentPage {
    min-height: 90vh;
    height: 100%;
    width: 100%;
    
    top: 15vh;

}

.contentPage h1 {
    width: 90%;
    padding: 3vh 3vh 15vh;
    text-transform: uppercase;
    font-family: "Intro";
    font-size: 200%;
    text-align: center;
    opacity: 0.5;
    margin: 0 auto;
}

.map h1 {
    width: 90%;
    padding: 3vh 3vh 5vh;
    text-transform: uppercase;
    font-family: "Intro";
    font-size: 200%;
    text-align: center;
    opacity: 0.5;
    margin: 0 auto;
}

.SlideText {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    justify-items: center;
    text-align: start;
    font-size: 150%;
    font-weight: 200;
    max-width: 670px;
    padding: 10vh 0vh 10vh 5%;
    text-indent: 0 !important;
}

.SlidePic {
    width: 50%;
    padding: 0;
    margin: 0;
    z-index: -1;
}

.list {
    text-indent: 15px;
}

.MainScreen {
    background-image: url(../img/background-1.svg);
    background-size: 70%;
    background-position: center right;
    width: 100%;

    height: 100vh;
  background-color: rgb(23,23,23);
background-color: radial-gradient(circle, rgba(85,85,85,1) 8%, rgba(35,35,35,1) 176%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.MainScreen h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Intro";
    font-size: 30px;
    text-align: center;
    color: #f4f4f4;
}

.tableCust {
    margin: 0 auto;
    /*  width: 80%;*/
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.8;
}

.tableCust td {
    padding: 5px 40px 5px 40px;
    font-weight: 300;
}

.tableCust tr:nth-child(odd) {
    background: #ddd;

}

.tableCust tr:hover {
    background: #d3d3d3;

}

.tableCust tr td:nth-child(2n) {
    font-weight: 600;
}

.verticalLine {
    height: 10vh;
    width: 3px;
    background: #ffc000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.finalPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    margin: 0;
    max-width: 900px;
    margin: 0 auto;
}

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    margin: 0;
    max-width: 1200px;
    margin: 0 auto;
}

.Contact ul li a,
.brdescriptor a {
    color: #555555;
    font-weight: 600;
    line-height: 1.5;
}

.FinalPic img {
    max-width: 450px;
    width: 80%;
}

video {
    max-width: 650px;
    width: 90%;
}

.case {
    width: 100%;
    height: inherit;
    display: contents;
   /* border: 1px #000 solid;*/
    text-transform: uppercase;

}

.case span {
    font-weight: bold;
}

.caseItem {

    max-width: 300px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
}

.caseItem span {
    font-weight: bold;
}


.CaserItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: -webkit-right;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pager {
    padding-top: 15vh;
}

.logoCase {
    position: relative;
    width: 50%;
    max-width: 250px;
}

.prevCase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

. .banners img {
    width: 100vw;
    height: 100vh;
}

.item img {
    min-width: 100vw;
    min-height: 100vh;
    display: block;
}

.Slide {
    width: 100%;
    height: auto;
    min-height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 1;
    max-width: 1300px !important;
    margin: 0 auto;
}

.Slide h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.Slide img {
    max-width: 100vw;
    max-height: 60vw;
    right: 0;
    position: absolute;
    background-color: #f4f4f4;
}

.containersWrap {
    display: none;
}

.slideImg {
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
}

.SlideDes {
    background: #f4f4f4;
    font-family: 'Intro';
    position: absolute;
    width: auto;
    max-width: 450px;
    padding-right: 10px;
    opacity: 0.9;
    z-index: 9999999;
    font-size: 150%;
    text-align: center;
    color: #555;
    padding: 2rem;
    -webkit-box-shadow: 1px 4px 10px #232323;
    box-shadow: 1px 4px 10px #555;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 5vh;
}
.FinalPic {
    text-align: center;
    margin: 0 auto;
    max-width: inherit;width: 50%;
    padding: 15%;
}
.topRow {
    visibility: inherit !important;
    margin: 0 auto;
    position: relative;
}
.SlidePic {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: 0 auto;
    text-align: center;
}
video {
    width: 100%;
}
.tableCust tr td {
    padding: 5px !important;
    font-size: 12px;
    line-height: 3;
    font-weight: 600;
}
.map h1 {
    font-size: 150%;
    line-height: 2.5;
}
.Slide {
    min-height: 30vh !important
}
.SlideDes {
    padding: 1vw;
    -webkit-box-shadow: 1px 2px 4px #555;
    box-shadow: 1px 2px 4px #555;
    bottom: 0;
}
.Contact {
    line-height: 1.67;
    text-decoration: none;
    width: 50% !important;
    padding: 10%;
}
.section {
    background: #f4f4f4;
    opacity: 1;
}
.parent {

 /*   background: #ffffff;
    border: 1px #000 solid;*/
}









@media screen and (max-width:720px) {
    .SlidePic {
        width: 90%;
        padding-top: 10vh;
        padding-bottom: 10vh;
        margin: 0 auto;
        text-align: center;
    }

    .SlideText {
        padding: unset;
        margin: unset;
        width: 85%;
        margin: 0 auto;
    }

    .FinalPic {
        max-width: 250px;
    }

    .Contact ul li {
        min-width: 200px;
        text-align: center;
    }

    .tableCust tr {
        white-space: nowrap;
        font-size: 15px;
    }

    .FinalPic img {
        max-width: 350px;
        width: 80%;
    }

    .CaserItems {
        display: block;
        margin: 0 auto;
    }

    .Slide {
        min-height: 50vh !important
    }
}

@media screen and (max-width: 625px) {
    .contentPage {
        min-height: 50vh;
        height: 100%;
        width: 100%;
        top: 15vh;
    }

    .containers {
        position: fixed;
        min-height: 2rem;
        text-align: center;
        background: #f4f4f4;
        width: 100%;
        z-index: 99999999999999999999999999;
        -webkit-box-shadow: 1px 1px 6px #5f5f5f5f;
        box-shadow: 1px 1px 6px #5f5f5f5f;
    }

    .contentPage h1,
    h1 {
        width: 90%;
        text-transform: uppercase;
        font-family: "Intro";
        font-size: 130%;
        text-align: center;
        margin: 0 auto;
        padding: 1vh !important;
    }

    h1 {
        text-transform: uppercase;
        font-family: "Intro";
        font-size: 130%;
        text-align: center;
        margin: 0 auto;
        padding: 1vh !important;
    }

    .tableCust td {
        padding: 15px 5px 15px 25px;
        font-weight: 300;
    }

    .tableCust tr {
        font-size: 13px;
    }

    .SlideText {
        font-size: 135%;
        line-height: 1.7;
        width: 90%;
    }

    .tableCust {
        margin: 0 auto;
        width: 98%;
    }

    .containersWrap {
        display: none;
    }

    .finalPage {
        display: block;
        padding: 5%;
    }

    .verticalLine {
        display: none;
    }

   
}

.mainscreenLogo {
    padding:10%;
}
